<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MixIO</title>
    <link rel="shortcut icon" href="img/shortcut.png"/>
    <link rel="stylesheet" href="css/farbtastic.css">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/nunito.css" rel="stylesheet">
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/muuri.css?v=4">
    <link rel="stylesheet" href="css/widgets.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/lang.js"></script>
    <script src="js/lang2.js?v=5"></script>
    <script src="js/farbtastic.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/echarts.min.js"></script>
    <script src="js/jquery.easyui.min.js"></script>
    <script src="js/mqtt.min.js"></script>
    <script src="js/gauge.min.js"></script>
    <% if (configs['OFFLINE_MODE']==false) { %>
        <script type="text/javascript" src="//api.map.baidu.com/getscript?type=webgl&v=3.0&ak=<%=configs['BAIDU_MAP_AK']%>"></script>
    <% } %>
    <script src="js/joy.js"></script>
    <script src="js/districts.js"></script>
    <link href="css/jsgrid.min.css" rel="stylesheet">
    <script src="js/jsgrid.min.js"></script>
    <script src="js/tools.js"></script>
    <script src="js/widgets.js"></script>
    <script>var OFFLINE_MODE = <%=configs['OFFLINE_MODE']%></script>
    <script>var BAIDU_MAP_AK = '<%=configs['BAIDU_MAP_AK']%>'</script>
    <script>var MIXIO_WS_PORT = '<%=configs['MIXIO_WS_PORT']%>'</script>
    <script>var MIXIO_WSS_PORT = '<%=configs['MIXIO_WSS_PORT']%>'</script>
    <script src="js/MixIO.js?v=4"></script>
    <script src="js/observe.js?v=10"></script>
</head>
<body id="page-top" class="sidebar-toggled" style="position:relative">
    <div id="wrapper">
        <div id="content-wrapper" class="d-flex flex-column">
        <nav class="navbar navbar-expand navbar-light bg-white topbar static-top shadow" style="display:flex;justify-content:space-between" id="project_nav">
            <div id="top_titles" style="display:flex;flex-direction:column">
                <h1 id="prjName" class="h3 mb-0 text-gray-800" style="display:inline-block;font-weight:bold;font-size:1.25rem;"></h1>
                <h3 id="shareMessage" class="h3 mb-0 text-gray-800" style="display:inline-block;margin-top:3px;font-size:0.75rem;"></h3>
            </div>
        </nav>
            <div class="container-fluid" id="project_detail">
                <div class="grid gridbg" id="grid"></div>
                <div class="grid" id="grid2" hidden></div>
            </div>
    </div>
        <div style="display:flex;align-items:center;justify-content:center;padding:5px;z-index:999;position:absolute;bottom:0;right:0;background-color:white;box-shadow:0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;border-radius:40px 0 0 0;padding-left:15px;padding-top:10px" id="bottom_2" hidden>
            <a class="btn btn-primary btn-block" id="dataMode" style="margin:5px;border:solid #4e73df 1px;font-size:1.2rem;display:flex;align-items:center;justify-content:space-around;width:105px;padding:5px 10px 5px 10px"><i class="fa fa-table" style="font-size:2rem;"></i>数据</a>
            <a class="btn btn-light btn-block" id="projMode" style="margin:5px;border:solid #4e73df 1px;color:#4e73df;font-size:1.2rem;display:flex;align-items:center;justify-content:space-around;width:105px;padding:5px 10px 5px 10px"><i class="fa fa-cube" style="font-size:2rem"></i>组件</a>
        </div>
    <div id="trashbin" style="width:0;height:0;overflow:hidden">

    </div>
</body>
</html>